h1, h2{
    font-family: 'Fjalla One', cursive;
    text-align: center;
}
p{
    font-family: 'Imbue', cursive;
}
h3{
    font-family: 'Coda Caption', sans-serif;
}
table{
    border: 3px solid black;
    margin-bottom: 20px;
}

th, td{
    border: 2px solid black;
}
.miniblock1{
    border: 2px solid red;
    background-color: black;
    color: yellow;
    width: 60px;
    height: 20px;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    float: right;
    margin-bottom: 0px;
}
.block1 {
    background-color: #FFF200;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
    color: black;
    padding: 10px;
    position: relative;
}
.miniblock2{
    border: 2px solid#FF0D00;
    background-color: black;
    color: #22FF00;
    width: 70px;
    height: 20px;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0px;
    left: : 30px;
    float: right;
    margin-bottom: 0px;
}
.block2 {
    background-color: #E13A2E;
    margin-right: 100px;
    margin-left: auto;
    margin--top: auto;
    margin-bottom: 10px;
    color: #DAE1E1;
    padding: 10px;
    position: relative;
}
.miniblock3{
    border: 2px solid#FF0D00;
    background-color: black;
    color: #30F5FF;
    width: 90px;
    height: 20px;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0px;
    left: : 0px;
    float: right;
    margin-bottom: 0px;
}
.block3 {
    background-color: #4C0E82;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    color: #DAE1E1;
    padding: 10px;
    position: relative;
    margin-bottom: 18px;
}
.miniblock4{
    border: 2px solid#FF0D00;
    background-color: black;
    color: #F200FF;
    width: 120px;
    text-align: center;
    height: 20px;
    padding: 1px;
    position: absolute;
    bottom: 0px;
    left: : 0px;
    float: right;
    margin-bottom: 0px;
}
.block4 {
    background-color: #000000;
    padding: 10px;
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
}