#verh1{text-align: center; font-size: 22px;}
#kursiv{font-style: italic;}
h3{text-align: center;}
.button{
    border-radius: 100px;
    background: black;
    box-shadow: 0 -3px red inset;
    transition: 0.2s;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 7px;
    }
.button:hover {
    background: yellow;
    box-shadow: none;
    color: black;}
.button:active {
    background: yellow;
}
article{
    font-size: 120%;
    padding: 5px;
}
h2{font-size: 1.8em;}
.zmist{font-weight: 600;}
#block1{
	color: white;
    background-color: red;
    border: 1px solid black;
}
#block2{
    background-color: yellow;
    border: 1px solid black;
}
#block3{
    background-color: blue;
    color: white;
    border: 1px solid black;
}
#block4{
	color: white;
    background-color: black;
    border: 1px solid white;
}
#block5{
    background-color: pink;
    border: 1px solid black;
}
#block6{text-transform: uppercase;}



s