a{
    font-style: italic;
}

p{
    text-align: center;
}

h1{
    text-align: center; font-size: 20px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

#one{
    font-size: 105%;
}

#two{
    font-size: 195%;
}

#third{
    font-size: 253%;
}

